.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.home-header__title {
  display: flex;
  justify-content: center;
  position: relative;
}

.home-header__title::before {
  background-color: #e8e8e8;
  border-radius: 50%;
  content: '';
  height: 15rem;
  position: absolute;
  width: 15rem;
  z-index: -1;
}

.home-small-tile {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.home-small-tile__item {
  background-color: rgb(211, 211, 211);
  border-radius: 6px;
  text-align: center;
}
